{{ form_start(form, {
    'attr': {
        'data-turbo': 'false',
        'action': app.request.requestUri
    }
}) }}

<div class="form-control mb-2">
    <div class="input w-full" >
    {{ form_label(form.nom, 'Nom de la poule', {'label_attr': {'class': 'label-text'}}) }} :
    {{ form_widget(form.nom, {'attr' : {'class': 'input' }}) }}
    </div>
</div>

<div class="form-control mb-2">
    <div class="select w-full" >
        {{ form_label(form.phase, 'Phase de rattachement : ', {'label_attr': {'class': 'label-text'}}) }} :
        {{ form_widget(form.phase, {'attr' : {'class':'select select-bordered'}}) }}
    </div>
</div>

<div class="form-control mb-2 relative z-[9999]">
    {{ form_label(form.equipes, 'Équipes :', {'label_attr': {'class': 'label-text'}}) }}
    {{ form_widget(form.equipes, {'attr': {'class': ' w-full', 'data-controller': 'tom-select'}
    }) }}
</div>

<button class="btn btn-success btn-sm mb-4">Enregistrer</button>

{{ form_end(form) }}


