{% extends 'base.html.twig' %}

{% block title %}Modifier la poule : {{ poule.nom }}{% endblock %}

{% block body %}
    <h1>Modifier la poule :  {{ poule.nom }} - {{ poule.phase.saison.nom }} - {{ poule.phase.nom }}</h1>

    {{ include('admin/poule/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <div class="flex gap-2">
        <a href="{{ path('admin_poule_index') }}" class="btn btn-sm btn-info">Revenir à la liste des poules</a>
        <a class="btn btn-neutral btn-sm" href="{{ path('admin_journee_getjourneecalendar', {'id':poule.id}) }}">Calendrier des journées</a>
        {{ include('/admin/poule/_delete_form.html.twig') }}
    </div>

{% endblock %}
