{#{{ include('admin/partie/_form.html.twig', {'form': form}) }}#}
{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

{# --- Zone 1 : Poule et Journée --- #}
<div class="grid grid-cols-2 gap-4">
    <div>
        {{ form_label(form.poule, null, {'label_attr': {'class': 'label'}}) }}
        <div class="form-control">
            {{ form_widget(form.poule, {'attr': {'class': 'select select-bordered w-full'}}) }}
            {{ form_errors(form.poule) }}
        </div>
    </div>
    <div>
        {{ form_label(form.journee, null, {'label_attr': {'class': 'label'}}) }}
        <div class="form-control">
            {{ form_widget(form.journee, {'attr': {'class': 'select select-bordered w-full'}}) }}
            {{ form_errors(form.journee) }}
        </div>
    </div>
</div>

{# --- Zone 2 : Date et Lieu --- #}
<div class="grid grid-cols-2 gap-4">
    <div>
        {{ form_label(form.date, null, {'label_attr': {'class': 'label'}}) }}
        <div class="form-control">
            {{ form_widget(form.date, {'attr': {'class': 'input input-bordered w-full'}}) }}
            {{ form_errors(form.date) }}
        </div>
    </div>
    <div>
        {{ form_label(form.lieu, null, {'label_attr': {'class': 'label'}}) }}
        <div class="form-control">
            {{ form_widget(form.lieu, {'attr': {'class': 'select select-bordered w-full'}}) }}
            {{ form_errors(form.lieu) }}
        </div>
    </div>
</div>

{# --- Zone 3 : Equipes et Score --- #}
<div class="overflow-x-auto">
    <table class="table w-full table-zebra">
        <thead>
        <tr>
            <th></th>
            <th>Equipe qui reçoit</th>
            <th>Equipe qui se déplace</th>
        </tr>
        </thead>
        <tbody>
        {#        <tr class="font-bold">#}
        {#            <td>Equipes</td>#}
        {#            <td>{{ form_label(form.id_equipe_recoit) }}</td>#}
        {#            <td>{{ form_label(form.id_equipe_deplace) }}</td>#}
        {#        </tr>#}
        <tr>
            <td class="">Equipes</td>
            <td class="w-1/2">
                {{ form_widget(form.id_equipe_recoit, {'attr': {'class': 'select select-bordered w-full'}}) }}
                {{ form_errors(form.id_equipe_recoit) }}
            </td>
            <td class="w-1/2">
                {{ form_widget(form.id_equipe_deplace, {'attr': {'class': 'select select-bordered w-full'}}) }}
                {{ form_errors(form.id_equipe_deplace) }}
            </td>
        </tr>

        <tr>
            <td class="">Score</td>
            <td>{{ form_widget(form.nb_set_gagnant_reception, {'attr': {'class': 'input input-bordered w-full'}}) }}</td>
            <td>{{ form_widget(form.nb_set_gagnant_deplacement, {'attr': {'class': 'input input-bordered w-full'}}) }}</td>
        </tr>
        </tbody>
    </table>
</div>

{# --- Boutons de soumission --- #}
<div class="modal-action">
    <button type="submit" class="btn btn-success">Enregistrer</button>
{#    <button type="button" onclick="document.querySelector('#partieModal').classList.remove('modal-open')" class="btn btn-info">Annuler</button>#}
</div>

{{ form_end(form) }}
