{% extends 'base_front.html.twig' %}

{% block title %}Le classement de la saison : {{ saison.nom }} - BLVB{% endblock %}

{% block body %}
<div class="container mx-auto max-w-5xl px-4">
<h1>Le classement de la saison {{ saison.nom }}</h1>
    {% for phase in saison.phases%}
        <div class="bg-base-100 border-base-300 collapse collapse-arrow border">
            <input type="checkbox" {%  if phaseouverte.id==phase.id %}checked {% endif %} class="peer" />
            <div class="collapse-title">
                {{ phase.nom }}
            </div>
            <div class="collapse-content">
                <div class="tabs tabs-lift">
                {% for poule in phase.poules %}

                        <input type="radio" name="tabs_{{phase.id}}" class="tab te" aria-label="{{poule.nom}}" {% if loop.index==1 %}checked {% endif%} />
                        <div class="tab-content bg-base-100 border-base-300 p-6">
                        {# Affichage pour grand écran sous forme de table #}
                            {% if poule.classements|length > 0 %}
                                <table class="border border-solid table-xs table-zebra w-full hidden md:table" >
                                    <tr >
                                        <th>Classement</th>
                                        <th>Equipe</th>
                                        <th>Points</th>
                                        <th>Set Gagnés</th>
                                        <th>Set Perdus</th>

                                        <th>Détail</th>
                                    </tr>
                                {% for classement in poule.classements %}

                                        <tr>
                                            <td>{{ classement.position}}</td>
                                                <td>{{ classement.equipe.nom }} </td>
                                                <td>{{ classement.points }}</td>
                                                <td>{{ classement.setGagnes}}</td>
                                                <td>{{ classement.setPerdus}}</td>

                                                <td>
                                                <details class="collapse collapse-arrow ">
                                                    <summary class="btn btn-xs btn-primary">
                                                        </svg><span> Voir le détail des matchs   </span>
                                                    </summary>
                                                    <ul class="list-disc list-inside">
                                                        {% for partie in poule.parties %}
                                                            {% if partie.idEquipeRecoit.id == classement.equipe.id or partie.idEquipeDeplace.id == classement.equipe.id %}
                                                                <li>
                                                                    {% if partie.getNbSetGagnantReception == "" and partie.getNbSetGagnantDeplacement == ""%}
                                                                    {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} : partie non jouée
                                                                    {% else %}
                                                                    {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} :
                                                                    {{ partie.getNbSetGagnantReception }} à {{ partie.getNbSetGagnantDeplacement }}
                                                                    {% endif %}
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </details>
                                                </td>

                                            </tr>
                                {% endfor %}

                            </table>
                            {# Affichage pour mobile sous forme de carte #}
                                {% for classement in poule.classements %}
                                    <div class="card w-96 bg-base-100 card-xs shadow-sm block md:hidden liste-classements-mobile mt-1" ">
                                        <div class="card-body " >
                                                <p><strong>Equipe n° {{ classement.position}} : {{ classement.equipe.nom }} </strong>  </p>
                                                <p>Points : {{ classement.points }}</p>
                                                <p>Nombre set gagnés {{ classement.setGagnes}}</p>
                                                <p>Nombre set perdus {{ classement.setPerdus}}</p>
                                                <p>
                                                <details class="collapse collapse-arrow ">
                                                    <summary class="btn btn-xs btn-info">
                                                        <span>Voir le détail des matchs</span> </summary>
                                                    <ul class="list-disc list-inside">
                                                        {% for partie in poule.parties %}
                                                            {% if partie.idEquipeRecoit.id == classement.equipe.id or partie.idEquipeDeplace.id == classement.equipe.id %}
                                                                <li>
                                                                    {% if partie.getNbSetGagnantReception == "" and partie.getNbSetGagnantDeplacement == ""%}
                                                                    {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} : partie non jouée
                                                                    {% else %}
                                                                    {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} :
                                                                    {{ partie.getNbSetGagnantReception }} à {{ partie.getNbSetGagnantDeplacement }}
                                                                    {% endif %}
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </details>
                                                </p>

                                        </div>
                                    </div>
                                    {% endfor %}
                            {% else %}
                            <p class="alert alert-info">Aucun résultat saisi </p>
                            {% endif %}
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% endblock %}
{% block extra_scripts %}
{% endblock %}
