{% extends 'base_front.html.twig' %}

{% block title %}Les équipes de la saison {{ saison.nom }} - BLVB{% endblock %}

{% block body %}
<div class="container mx-auto max-w-5xl px-4">
    <h1>Les équipes de la saison {{ saison.nom }}</h1>
    {% for phase in saison.phases%}
        <div class="bg-base-100 border-base-300 collapse {%  if phaseouverte.id==phase.id %}collapse-open {% endif %}collapse-arrow border">
            <input type="checkbox" class="peer" />
            <div
                class="collapse-title"
            >
                {{ phase.nom }}
            </div>
            <div
                class="collapse-content"
            >
            
                <div class="tabs tabs-lift">
                {% for poule in phase.poules %}

                        <input type="radio" name="tabs_{{phase.id}}" class="tab te" aria-label="{{poule.nom}}" {% if loop.index==1 %}checked {% endif%} />
                        <div class="tab-content bg-base-100 border-base-300 p-6">
                        {% if poule.equipes|length ==0 %}
                            <p class="alert alert-info">Aucune équipe dans cette poule.</p>
                        {% else %}
                        {# Affichage pour grand écran sous forme de table #}
                            <table class="border border-solid table table-zebra hidden md:table" >
                                <tr>
                                    <th>Nom</th>
                                    <th>Adresse</th>
                                    <th>Horaire habituel de réception</th>
                                    <th>Classement</th>
                                </tr>

                                {% for equipe in poule.equipes %}
                                    <tr>
                                        <td><a href="{{path('front_equipe_detail', {'id': equipe.id})}}" class="link">{{ equipe.nom }}</a></td>
                                        <td><a class="link" href="https://www.google.com/maps/search/?api=1&query={{ equipe.idLieu.adresse|url_encode }}" 
                                                target="_blank" 
                                                rel="noopener noreferrer">
                                                    {{ equipe.idLieu.nom }}
                                                </a></td>
                                        <td>{{equipe.idLieu.jour}} - {{equipe.idLieu.heure|format_time('short', locale='fr')}}</td>
                                        <td>{{equipe.position}}</td>
                                    </tr>

                                    {% endfor %}
                            </table>
                            {# Affichage pour mobile sous forme de carte #}
                            {% for equipe in poule.equipes %}
                            <div class="card w-96 bg-base-100 card-xs shadow-sm block md:hidden liste-equipe-mobile mt-1">
                                <div class="card-body">
                                    <h3 class="card-title">{{equipe.nom}}</h3>
                                    <p>Adresse <a class="link" href="https://www.google.com/maps/search/?api=1&query={{ equipe.idLieu.adresse|url_encode }}" 
                                                target="_blank" 
                                                rel="noopener noreferrer">
                                                    {{ equipe.idLieu.nom }}
                                                </a></p>
                                    <p>Recoit habituellement : {{equipe.idLieu.jour}}  - {{equipe.idLieu.heure|format_time('short', locale='fr')}}</p>
                                    {# <p>Classement : {{ equipe.getClassement(poule.id) }}</p> #}
                                </div>
                                
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                        
                {% endfor %}
                </div>
            </div>
        </div>
    {%  endfor %}
    </div>
{% endblock %}
