{% extends 'base_front.html.twig' %}

{% block title %}Site du BLVB{% endblock %}

{% block hero %}
    <div class="hero min-h-[720px] w-full bg-cover bg-center mt-0" style="background-image: url({{ asset('images/ballon_1280.jpg')}});">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold text-neutral-content!">Championnat Basque Landais Volley Ball</h1>
        <p class="mb-5">
            Le championnat de volley-ball loisir senior B.L.V.B. a lieu de septembre à mai sur la côte basque et landaise.
        </p>
            {% if app.user %}
                <a href="{{ path("front_calendrier") }}"><button class="btn btn-primary">Saisir un résultat</button></a>
                {% if equipe %}
                    <a href="{{ path("front_equipe_detail",  {'id': equipe.id})}}"><button class="btn btn-primary">Voir {{equipe.nom}}</button></a>
                    {%  else %}
                    <a href="{{ path("front_equipes") }}"><button class="btn btn-primary">Voir les équipes</button></a>
                {% endif %}
            {% else %}
            <a href="{{ path("app_login") }}"><button class="btn btn-primary">Capitaine : Se connecter pour saisir un résultat</button></a>
            {% endif %}
        </div>
    </div>
    </div>
  {% endblock %}
{% block body %}
<div class="container mx-auto max-w-5xl px-4">
    {% include 'front/fragments/_calendrier_full.html.twig' %}
</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
