{% extends 'base_front.html.twig' %}

{% block title %}Site du BLVB{% endblock %}

{% block hero %}
    <div class="hero min-h-[720px] w-full bg-cover bg-center mt-0" style="background-image: url({{ asset('images/ballon_1280.jpg')}});">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold text-neutral-content!">Championnat Basque Landais Volley Ball</h1>
        <p class="mb-5">
            Le championnat de volley-ball loisir senior B.L.V.B. a lieu de septembre à mai sur la côte basque et landaise.
        </p>
            {% if app.user %}
                <a href="{{ path("front_calendrier") }}"><button class="btn btn-primary">Saisir un résultat</button></a>
                {% if equipe %}
                    <a href="{{ path("front_equipe_detail",  {'id': equipe.id})}}"><button class="btn btn-primary">Voir {{equipe.nom}}</button></a>
                    {%  else %}
                    <a href="{{ path("front_equipes") }}"><button class="btn btn-primary">Voir les équipes</button></a>
                {% endif %}
            {% else %}
            <a href="{{ path("app_login") }}"><button class="btn btn-primary">Capitaine : Se connecter pour saisir un résultat</button></a>
            {% endif %}
        </div>
    </div>
    </div>
  {% endblock %}
{% block body %}

        <h2 class="text-center mb-4">Le championnat comprend</h2>
        <div class="flex flex-col lg:flex-row justify-center items-center gap-6 w-full">
            <div class="card bg-base-300 rounded-box p-6 w-full max-w-md text-center">
                <h3 class="font-semibold mb-2">Des équipes de clubs</h3>
                <p>Anglet Olympique</p>
                <p>Bayonne Volley-Ball</p>
                <p>Volley-Ball Luzien Cibourien</p>
                <p>Ondres Volley-Ball</p>
                <p>JSA Angresse</p>
            </div>

            {# <div class="divider lg:divider-horizontal hidden lg:block"></div> #}

            <div class="card bg-base-300 rounded-box p-6 w-full max-w-md text-center">
                <h3 class="font-semibold mb-2">Des associations</h3>
                <p>ASPTT Bayonne</p>
                <p>Leo Lagrange Bayonne</p>
                <p>Tosse</p>
                <p>Capbreton</p>
                <p>D’entreprises (autrefois Quiksilver, Turbomeca...)</p>
            </div>
        </div>




<section class="w-full flex flex-col justify-center items-center">

  <h2 class="text-center mb-4 mt-10">Ces équipes sont réparties en 4 groupes de niveau</h2>

{% for groupe in groupes %}
    <div class="flex flex-col lg:flex-row justify-center items-center lg:items-stretch lg:gap-6 w-full mb-4">

        {#  Le textes#}
       {% if loop.index is odd %}
            <div class="card bg-base-300 rounded-box p-6 w-full max-w-md flex-1 flex flex-col justify-center items-center text-center order-first">
        {% else %}
            <div class="card bg-base-300 rounded-box p-6 w-full max-w-md flex-1 flex flex-col justify-center items-center text-center order-first lg:order-last">
        {% endif %}
                <h3 class="text-2xl font-bold text-primary mb-2">{{groupe.nom}}</h3>
                <p>
                    {{groupe.description}}
                </p>
                        <p><a href="{{ path('front_equipes')}}" class="btn btn-info mt-2">Voir les équipes</a></p>
                </div>

        {# <div class="divider lg:divider-horizontal hidden lg:block"></div> #}

       {% if loop.index is odd %}
            <div class="card bg-base-300 rounded-box w-full max-w-md flex-1 flex justify-center items-center order-last ">
       {% else %}
            <div class="card bg-base-300 rounded-box w-full max-w-md flex-1 flex justify-center items-center order-last lg:order-first">
       {% endif %}

        <img src="{{ asset('images/'~groupe.image) }}" alt="{{ groupe.nom }}" class="max-w-[600px] h-auto w-full rounded-lg shadow-lg">
        </div>
    </div>
{% endfor %}





</section>





















{% endblock %}
