{% extends '../../base.html.twig' %}

{% block title %}Indisponibilite{% endblock %}

{% block body %}
    <h1>Indisponibilite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ indisponibilite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ indisponibilite.nom }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ indisponibilite.dateDebut ? indisponibilite.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ indisponibilite.dateFin ? indisponibilite.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_indisponibilite_index') }}">back to list</a>

    <a href="{{ path('app_indisponibilite_edit', {'id': indisponibilite.id}) }}">edit</a>

    {{ include('indisponibilite/_delete_form.html.twig') }}
{% endblock %}
