<!DOCTYPE html>
<html lang="fr" data-theme="lofi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BLVB{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-base-100 text-base-content">

<div class="drawer drawer-mobile">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

    {# Contenu principal #}
    <div class="drawer-content flex flex-col min-h-screen">

        {# Navbar #}
        <header class="navbar bg-base-300 shadow-md sticky top-0 z-50">
            <div class="flex-none lg:hidden">
                <label for="my-drawer-2" aria-label="Ouvrir le menu" class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-6 w-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </label>
            </div>

            <div class="flex flex-1 px-2 mx-2 font-bold text-lg items-center">
                <a class="mr-1" href="{{  path('front_index')}}">BLVB</a>
                <div>
                    <form method="post" action="{{ path('front_set_saison') }}">
                    <select name="idSaisonSelected" class="border border-gray-300 rounded px-2 py-1 text-base" onchange="this.form.submit()">
                        {% for saison in saisons %}
                            <option value="{{ saison.id }}" {% if saison.id == idSaisonSelected %}selected{% endif %}>
                                {{ saison.nom }}
                            </option>
                        {% endfor %}
                    </select>
                    </form>
                </div>
            </div>

            {# Menu desktop #}
            <div class="hidden lg:flex flex-none items-center">
                <ul class="menu menu-horizontal px-1">
                    {% block navbar_links %}
                        <li><a href="{{ path('front_equipes')}}">Les équipes</a></li>

                        <li><a href="{{ path('front_classement')}}">Classement</a></li>
                        <!-- Dropdown Calendrier -->
                        <li class="relative group">
                            <button class="px-3 hover:text-accent flex items-center">
                                Calendrier
                                <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.25a.75.75 0 01-1.06 0L5.23 8.29a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        <div class="absolute left-0 mt-8 w-40 bg-white border rounded shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-opacity flex flex-col">
                                <a href="{{ path('front_calendrier')}}" class="block px-4 py-2 hover:bg-gray-100">Par équipe</a>
                                <a href="{{ path('front_calendrierlieu')}}" class="block px-4 py-2 hover:bg-gray-100">Par gymnase</a>
                            </div>
                        </li>
                        <li><a href="{{ path('front_reglement')}}">Règlement</a></li>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{path('app_admin_dashboard')}}">Admin dashboard</a></li>
                        {% endif %}
                            <li>
                                <form method="post" action="{{ path('app_logout') }}" class="inline-flex items-center">
                                    <button type="submit" class="">Se déconnecter</button>
                                </form>
                            </li>
                        {% else %}
{#                        <li><a href="{{path('app_register')}}">Créer un compte</a></li>#}
                        <li><a href="{{path('app_login')}}">Se connecter</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </header>

        {# Contenu de la page avec container central sur desktop #}
        {% block hero %}{% endblock %}
        <main class="flex-1 p-4">


                {% block body %}{% endblock %}

        </main>
    </div>

    {# Sidebar #}
    <div class="drawer-side z-[60]">
        <label for="my-drawer-2" aria-label="Fermer le menu" class="drawer-overlay"></label>
        <aside class="menu p-4 w-64 bg-base-200 min-h-full">
            {% block sidebar_links %}
                <li><a href="{{ path('front_equipes')}}">Les équipes</a></li>
                <li tabindex="0">
                    <a class="justify-between">Calendrier
                        <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7" />
                        </svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li><a href="{{ path('front_calendrier')}}">Par équipe</a></li>
                        <li><a href="{{ path('front_calendrierlieu')}}">Par gymnase</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('front_classement')}}">Classement</a></li>
                <li><a href="{{ path('front_reglement')}}">Règlement</a></li>

                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{path('app_admin_dashboard')}}">Admin dashboard</a></li>
                {% endif %}
                    <li>
                        <form method="post" action="{{ path('app_logout') }}" class="inline-flex items-center">
                            <button type="submit" class="">Se déconnecter</button>
                        </form>
                    </li>
                {% else %}
{#                <li><a href="{{path('app_register')}}">Créer un compte</a></li>#}
                <li><a href="{{path('app_login')}}">Se connecter</a></li>
                {% endif %}
            {% endblock %}
        </aside>
    </div>
</div>
{% block extra_scripts %}{% endblock %}
</body>
</html>
