{% extends '../../base.html.twig' %}

{% block title %}Journee index{% endblock %}

{% block body %}
    <h1>Journee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for journee in journees %}
            <tr>
                <td>{{ journee.id }}</td>
                <td>{{ journee.numero }}</td>
                <td>{{ journee.dateDebut ? journee.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ journee.dateFin ? journee.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_journee_show', {'id': journee.id}) }}">show</a>
                    <a href="{{ path('app_journee_edit', {'id': journee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_journee_new') }}">Create new</a>
{% endblock %}
