<div class="container mx-auto max-w-5xl px-4" data-controller="score-modal">
    <h1>Le calendrier de la saison {{ saison.nom }}</h1>
    {% for phase in saison.phases%}
        <div class="bg-base-100 border-base-300 collapse collapse-arrow border">
            <input type="checkbox" {%  if phaseouverte.id==phase.id %}checked {% endif %} class="peer" />
            <div class="collapse-title">
                {{ phase.nom }}
            </div>
            <div class="collapse-content">
                <div class="tabs tabs-lift">
                {% for poule in phase.poules %}

                        <input type="radio" name="tabs_{{phase.id}}" data-poule="{{ poule.id}}" class="tab te" aria-label="{{poule.nom}}" {% if loop.index==1 %}checked {% endif%} />
                        <div class="tab-content bg-base-100 border-base-300 p-6">
                        <div>Filtrer par équipe :
                                <select id="equipeFilter_{{ phase.id }}_{{poule.id}}" onchange="filterMatches({{phase.id}}, {{poule.id}})">
                                    <option value="all">Toutes les équipes</option>
                                    {% for equipe in poule.equipes %}
                                        <option value="{{equipe.id}}">{{equipe.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% for journee in poule.journees %}

                            <h3 class="mt-3 mb-2">Journée {{ journee.numero }} </h3>
                            {% if journee.parties|length >0 %}
                                {# Affichage pour grand écran sous forme de table #}
                                <table class="border border-solid table-xs table-zebra w-full hidden md:table" >
                                    <tr >
                                        <th>Équipe qui reçoit</th>
                                        <th>Équipe qui se déplace</th>
                                        <th>Date</th>
                                        <th>Lieu</th>
                                        <th>Résultat</th>
                                    </tr>

                                    {% for partie in journee.parties %}
                                        <tr id="tr-partie-{{partie.id}}" data-recoit="{{ partie.idEquipeRecoit.id }}" data-deplace="{{ partie.idEquipeDeplace.id }}">
                                            <td>
                                                <a href="{{path('front_equipe_detail', {'id': partie.idEquipeRecoit.id})}}" class="link flex items-center justify-start"">{{ partie.idEquipeRecoit.nom }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                                                    </svg> </a>
                               
                                            </td>
                                            <td class="">
                                            <a href="{{path('front_equipe_detail', {'id': partie.idEquipeDeplace.id})}}" class="link flex items-center justify-start"">{{ partie.idEquipeDeplace.nom }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                                                    </svg> </a>
                                   
                                            </td>
                                            <td>{{ partie.date|format_date('short', locale='fr') }} - {{ partie.date|format_time('short', locale='fr') }}</td>
                                            <td><a class="link" href="https://www.google.com/maps/search/?api=1&query={{ partie.lieu.adresse|url_encode }}"
                                                target="_blank"
                                                rel="noopener noreferrer">
                                                    {{ partie.lieu.nom }}
                                                </a></td>
                                            <td>

                                                {% if partie.getNbSetGagnantReception is not null and partie.getNbSetGagnantDeplacement is not null %}
                                                    <span class="score_partie-{{partie.id}}"><strong>{{ partie.getNbSetGagnantReception }}</strong> - <strong>{{ partie.getNbSetGagnantDeplacement }}</strong></span>
                                                {% else %}
                                                    <span class="score_partie-{{partie.id}}">À venir</span>
                                                {% endif %}
                                                {% if is_granted('ROLE_ADMIN')
                                                            or (app.user is not null
                                                                and partie.idEquipeRecoit.capitaine is not null
                                                                and partie.idEquipeRecoit.capitaine.id == app.user.id) %}

                                                            <a href="#"
                                                                class="btn btn-warning btn-xs"
                                                                data-action="click->score-modal#openModal"
                                                                data-partie-id="{{ partie.id }}"
                                                                data-equipe-recoit="{{ partie.idEquipeRecoit.nom }}"
                                                                data-equipe-deplace="{{ partie.idEquipeDeplace.nom }}">
                                                                {% if partie.getNbSetGagnantReception != 0 and partie.getNbSetGagnantDeplacement !=0 %}
                                                                    Modifier le résultat
                                                                {% else %}
                                                                    Saisir le résultat
                                                                {% endif  %}
                                                            </a>
                                                            {% endif %}
                                        </tr>

                                    {% endfor %}
                                </table>
                                {# Affichage pour mobile sous forme de carte #}
                                {% for partie in journee.parties %}
                                <div class="card  bg-base-100 card-xs shadow-sm block md:hidden liste-equipe-mobile mt-1" id="card-partie-{{partie.id}}" data-recoit="{{ partie.idEquipeRecoit.id }}" data-deplace="{{ partie.idEquipeDeplace.id }}">
                                    <div class="card-body p-1" >
                                        <p class="flex items-center justify-between w-full flex-wrap">
                                            <a href="{{path('front_equipe_detail', {'id': partie.idEquipeRecoit.id })}}" class="flex-1 basis-0 flex justify-end min-w-0">
                                                <strong class="link flex items-center justify-center flex-wrap">{{ partie.idEquipeRecoit.nom }} &nbsp;<span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                                                    </svg></span>
                                                </strong>
                                            </a> 
                                            <span class="px-1 shrink-0">vs </span>
                                                
                                            <a href="{{path('front_equipe_detail', {'id': partie.idEquipeDeplace.id })}}" class="flex-1 basis-0 flex justify-start min-w-0">
                                                <strong class="link flex items-center justify-center flex-wrap">{{ partie.idEquipeDeplace.nom }}&nbsp;<span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                                                    </svg></span></strong></a>
                                        </p>
                                        <p>Date : {{ partie.date|format_date('short', locale='fr') }} - {{ partie.date|format_time('short', locale='fr') }}</p>
                                        <p>Lieu : <a class="link" href="https://www.google.com/maps/search/?api=1&query={{ partie.lieu.adresse|url_encode }}"
                                                target="_blank"
                                                rel="noopener noreferrer">
                                                    {{ partie.lieu.nom }}
                                                </a></p>
                                        <p>Résultat :
                                        {% if partie.getNbSetGagnantReception is not null and partie.getNbSetGagnantDeplacement is not null %}
                                            <span class="score_partie-{{partie.id}}"><strong>{{ partie.getNbSetGagnantReception }}</strong> - <strong>{{ partie.getNbSetGagnantDeplacement }}</strong></span>
                                                {% else %}
                                                    <span class="score_partie-{{partie.id}}">À venir</span>

                                                {% endif %}
                                                    {% if is_granted('ROLE_ADMIN')
                                                            or (app.user is not null
                                                                and partie.idEquipeRecoit.capitaine is not null
                                                                and partie.idEquipeRecoit.capitaine.id == app.user.id) %}

                                                             <a href="#"
                                                                class="btn btn-warning btn-xs"
                                                                data-action="click->score-modal#openModal"
                                                                data-partie-id="{{ partie.id }}"
                                                                data-equipe-recoit="{{ partie.idEquipeRecoit.nom }}"
                                                                data-equipe-deplace="{{ partie.idEquipeDeplace.nom }}">
                                                                {% if partie.getNbSetGagnantReception != 0 and partie.getNbSetGagnantDeplacement !=0 %}
                                                                 Modifier le résultat
                                                                 {% else %}
                                                                 Saisir le résultat
                                                                     {% endif  %}
                                                            </a>
                                                    {% endif %}
                                        </p>
                                    </div>

                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info">
                                    Aucun match planifié pour cette journée.
                                </div>
                            {% endif %}
                            {%else%}
                            <div class="alert alert-info">
                                Aucun match planifié pour cette poule.
                            </div>
                        {% endfor %}



                        </div>

                {% endfor %}
                </div>
            </div>
        </div>

    {%  endfor %}

     <div data-score-modal-target="modal" class="modal">
        <div class="modal-box">
            <h3 data-score-modal-target="title" class="font-bold text-lg mb-4">
                Saisir le score
            </h3>

            <div class="mb-2">
                <label data-score-modal-target="labelReception" class="block text-sm font-medium mb-1">Score Équipe 1 :</label>
                <input type="text" data-score-modal-target="inputReception" class="input input-bordered w-full" min="0">
            </div>

            <div class="mb-4">
                <label data-score-modal-target="labelDeplacement" class="block text-sm font-medium mb-1">Score Équipe 2 :</label>
                <input type="text" data-score-modal-target="inputDeplacement" class="input input-bordered w-full" min="0">
            </div>
            <p class="italic text-sm text-gray-500">Saisir 3 et 1 si l'équipe qui reçoit gagne 3 sets à 1.</p>
            <p class="italic text-sm text-gray-500">Si une équipe est forfait saisir un seul F dans son score et rien pour l'autre équipe.</p>
            <div class="modal-action">
                <button class="btn btn-primary" data-action="click->score-modal#submitForm">Valider</button>
                <a href="#" class="btn btn-ghost" data-action="click->score-modal#closeModal">Annuler</a>
            </div>
        </div>
    </div>
</div>

<script>
function filterMatches(phaseId, pouleId) {

    const select = document.getElementById('equipeFilter_' + phaseId + '_' + pouleId);
    const value = select.value;

    // Sélectionner uniquement les tabs de cette poule
    const tabs = document.querySelectorAll('[name="tabs_' + phaseId + '"][data-poule="'+pouleId+'"] + .tab-content table');
    tabs.forEach(tab => {
        const rows = tab.querySelectorAll('tr[data-recoit]');
        rows.forEach(row => {
            const recoit = row.dataset.recoit;
            const deplace = row.dataset.deplace;

            if (value === "all" || recoit === value || deplace === value) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    // Sélectionner uniquement les cartes de cette poule
    const cards = document.querySelectorAll('[name="tabs_' + phaseId + '"][data-poule="'+pouleId+'"] + .tab-content .card');

    cards.forEach(card => {
        const recoit = card.dataset.recoit;
        const deplace = card.dataset.deplace;

        if (value === "all" || recoit === value || deplace === value) {
            card.style.display = '';
        } else {
            card.style.display = 'none';
        }
    });
}
</script>