
                        {# Affichage pour grand écran sous forme de table #}
                            {% if poule.classements|length > 0 %}

                                <table class="border border-solid table-xs table-zebra w-full hidden md:table" >
                                    <tr class="bg-base-100 text-center">
                                        <th>Classement</th>
                                        <th >Equipe</th>
                                        <th >Points</th>
                                        <th >Set Gagnés</th>
                                        <th >Set Perdus</th>

                                        <th >Détail</th>
                                    </tr>
                                {% for classement in poule.classements %}

{#                                        <tr {% if equipeid is defined and classement.equipe.id == equipeid %} class="!bg-success font-bold" {% endif %}>#}
                                        <tr class="text-center{% if classement.position <= poule.NbMonteeDefaut and poule.parties|length > 0%}
                                                !bg-success font-bold
                                            {% elseif classement.position > (poule.classements|length - poule.NbDescenteDefaut) and poule.parties|length > 0 %}
                                                !bg-warning{% endif %}
                                                ">
                                            <td class="flex items-center justify-center"><span>{{ classement.position}} &nbsp;</span>
                                                {% if classement.position <= poule.NbMonteeDefaut and poule.parties|length > 0%}
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                                                    </svg>

                                                {% elseif classement.position > (poule.classements|length - poule.NbDescenteDefaut) and poule.parties|length > 0 %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                                                    </svg>

                                                {% endif %}
                                            </td>
                                            <td>{{ classement.equipe.nom }} </td>
                                            <td>{{ classement.points }}</td>
                                            <td>{{ classement.setGagnes}}</td>
                                            <td>{{ classement.setPerdus}}</td>

                                            <td>
                                            <details class="collapse collapse-arrow ">
                                                <summary class="btn btn-xs btn-primary">
                                                    </svg><span> Voir le détail des matchs   </span>
                                                </summary>
                                                <ul class="list-disc list-inside">
                                                    {% for partie in poule.parties %}
                                                        {% if partie.idEquipeRecoit.id == classement.equipe.id or partie.idEquipeDeplace.id == classement.equipe.id %}
                                                            <li>
                                                                {% if partie.getNbSetGagnantReception == "" and partie.getNbSetGagnantDeplacement == ""%}
                                                                {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} : partie non jouée
                                                                {% else %}
                                                                {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} :
                                                                {{ partie.getNbSetGagnantReception }} à {{ partie.getNbSetGagnantDeplacement }}
                                                                {% endif %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </details>
                                            </td>

                                        </tr>
                                {% endfor %}

                            </table>
                            {# Affichage pour mobile sous forme de carte #}
                                {% for classement in poule.classements %}
                                    <div class="card w-96 bg-base-100 card-xs shadow-sm block md:hidden liste-classements-mobile mt-1 {% if classement.position <= poule.NbMonteeDefaut%}
                                                !bg-success font-bold
                                            {% elseif classement.position > (poule.classements|length - poule.NbDescenteDefaut) %}
                                                !bg-warning{% endif %}">
                                        <div class="card-body {% if equipeid is defined and classement.equipe.id == equipeid %} bg-success font-bold {% endif %}" >
                                                <p><strong>Equipe n° {{ classement.position}} : {{ classement.equipe.nom }} </strong>  </p>
                                                <p>Points : {{ classement.points }}</p>
                                                <p>Nombre set gagnés {{ classement.setGagnes}}</p>
                                                <p>Nombre set perdus {{ classement.setPerdus}}</p>
                                                <p>
                                                <details class="collapse collapse-arrow ">
                                                    <summary class="btn btn-xs btn-info">
                                                        <span>Voir le détail des matchs</span> </summary>
                                                    <ul class="list-disc list-inside">
                                                        {% for partie in poule.parties %}
                                                            {% if partie.idEquipeRecoit.id == classement.equipe.id or partie.idEquipeDeplace.id == classement.equipe.id %}
                                                                <li>
                                                                    {% if partie.getNbSetGagnantReception == "" and partie.getNbSetGagnantDeplacement == ""%}
                                                                    {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} : partie non jouée
                                                                    {% else %}
                                                                    {{ partie.idEquipeRecoit.nom }}  vs {{ partie.idEquipeDeplace.nom }} :
                                                                    {{ partie.getNbSetGagnantReception }} à {{ partie.getNbSetGagnantDeplacement }}
                                                                    {% endif %}
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </details>
                                                </p>

                                        </div>
                                    </div>
                                    {% endfor %}
                            {% else %}
                            <p class="alert alert-info">Aucun résultat saisi </p>
                            {% endif %}

