{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

        {# Champ Nom de l'équioe #}
<div class="form-control w-full">
    {{ form_label(form.nom, "Nom de l'équipe", {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.nom, {'attr': {'class': 'input input-bordered w-full', 'placeholder': "Nom de l'équipe"}}) }}
    {{ form_errors(form.nom) }}
</div>

<div class="form-control w-full">
    {{ form_label(form.lieu, "Lieu d'entrainement habituel de l'équipe", {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.lieu, {'attr': {'class': 'input input-bordered w-full', 'placeholder': "Lieu d'entrainement"}}) }}
    {{ form_errors(form.lieu) }}
</div>

<div class="form-control mb-2 relative z-[9999]">
    {{ form_label(form.capitaine, 'Capitaine :', {'label_attr': {'class': 'label-text'}}) }}
    {{ form_widget(form.capitaine, {'attr': {'class': ' w-full', 'data-controller': 'tom-select'}
    }) }}
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
