{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Detail de l'équipe {{ equipe.nom }}</h1>

    <ul>
        <li>id : {{ equipe.id }}</li>
        <li>nom : {{ equipe.nom }}</li>
        <li>Lieu d'entrainement : {{ equipe.idLieu.nom }}</li>

        <li>Capitaine : {%  if equipe.capitaine %}{{ equipe.capitaine.nom }} {%  else  %} aucun capitaine défini {%  endif %}</li>
        <li>Liste des poules :</li>
            <ul>
        {% for poule in equipe.Poules %}
            {# {{dump(poule)}} #}
                <li>Poule : {{ poule.nom }} de {{ poule.phase.saison.nom }} - {{ poule.phase.nom }}</li>
            {% endfor %}
            </ul>
    </ul>


    <a class="btn btn-sm" href="{{ path('admin_equipe_index') }}">Voir toutes les équipes</a>
    <a class="btn btn-sm" href="{{ path('admin_equipe_new') }}">Créer une nouvelle équipe</a>
{% endblock %}
